.blog-main{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 500px;
}


/* Banner */
#banner {
    background-image: url("../img/menuback2.gif");
    background-repeat: repeat;
}

#banner img {
    width: 100px;
    margin: 5px;
    display: inline;
}

#banner , #banner a{
    color: #ffffff;
}

#banner img.buet-logo{
    display: inline;
}

/* Menu */



.d-inline {
    display: inline;
}

body {
  color:#828282;
  background-color:#eee;
}

a,a:hover {
    color:#ff3333;
    text-decoration:none;
}

/* Header navigation Menu */

.main-nav {
    color:#ffffff;
    border:0;
    border-radius:0;
    padding: 5px 5px;
    background-color: white;
}

.main-nav ul {
    margin: 0px;
    padding: 8px 0px;
}

.main-nav li {
    position: relative;
    display: inline-block;
    padding: 0px;
}
.main-nav  li  a {
    padding: 10px 15px;
    border-radius: 3px;
}

.main-nav li  a:hover, .main-nav  li  a:focus {
    background-color:#eeeeee;
}

.main-nav li.current-menu-item a {
    background-color:#eeeeee;
}


/* Sidebar Navigation Menu */

.sidebar-nav-menu ul {
    position: relative;
    padding-left: 0px;
}

.sidebar-nav-menu li {
    list-style-type: none;
}

.sidebar-nav-menu li li{
    padding-left: 20px;
}

.sidebar-nav-menu li  a:hover, .sidebar-nav-menu  li  a:focus {
    background-color:#fff;
}

.sidebar-nav-menu li.current-menu-item a {
    background-color:#fff;
}

/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

