


/* Banner */
#banner {
    background-image: url("../img/menuback2.gif");
    background-repeat: repeat;
}

#banner img {
    width: 100px;
    margin: 5px;
    display: inline;
}

#banner h2 , #banner h2 a{
    color: #DDDDDD;
}

#banner img.buet-logo{
    display: inline;
}

/* Menu */



.d-inline {
    display: inline;
}

body {
  color:#828282;
  background-color:#eee;
}

a,a:hover {
    color:#ff3333;
    text-decoration:none;
}

.main-nav {
    color:#ffffff;
    border:0;
    border-radius:0;
    padding: 5px 5px;
    background-color: white;
}

.main-nav ul {
    margin: 0px;
    padding: 8px 0px;
}

.main-nav li {
    position: relative;
    display: inline-block;
    padding: 0px;
}
.main-nav  li  a {
    padding: 10px 15px;
    border-radius: 3px;
}

.main-nav li  a:hover, .main-nav  li  a:focus {
    background-color:#eeeeee;
}

.main-nav li.current-menu-item a {
    background-color:#eeeeee;
}

